<body>
  <div class="login-container">
    <h1>Login To Continue!</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Username -->
      <label for="username">Username:</label>
      <input id="username" type="text" formControlName="username" />
      <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
        Username is required.
      </div>

      <!-- Password -->
      <label for="password">Password:</label>
      <input id="password" type="password" formControlName="password" placeholder="Enter the password" />

      <!-- Submit Button -->
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>

    <!-- Register Link -->
    <div class="register-link">
      <p>Don't have an account? <a [routerLink]="['/register']">Register</a></p>
    </div>
  </div>
</body>
